.main {
  height: 100%;
  padding: 0 20px;
}
.hidelist {
  padding: 30px 0px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.todoFormBox {
  margin-top: 10px;
}
.hidelistBtn {
  background-color: #01204e89;
  color: white;
  border: none;
}
.hidelistBtn:hover {
  border: none;
  background-color: #01204ea6;
}
.hidelistBtn:focus {
  border: none;
  outline: none;
}
.todo-changeList {
  display: flex;
  align-items: center;
  gap: 10px;
}
.todo-changeList input {
  border: none;
  padding: 7px 10px;
  border-radius: 3px;
  outline: none;
}
.todo-changeList button {
  border: none;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: small;
  background-color: #01204eba;
  color: white;
}
.todo-changeList button:hover {
  background-color: #01204eda;
}
.todo-changeList button:focus {
  outline: none;
}
.todo-addTask {
  display: flex;
  align-items: center;
  gap: 10px;
}
.todo-addTask input {
  border: none;
  padding: 7px 10px;
  border-radius: 3px;
  outline: none;
}
.todo-addTask button {
  border: none;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: small;
  background-color: #01204eba;
  color: white;
}
.todo-addTask button:hover {
  background-color: #01204eda;
}
.todo-addTask button:focus {
  outline: none;
}
.myTodoList {
  padding-top: 0;
}
.taskBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  height: 2.5rem;
}
.taskBox:hover {
  background-color: rgba(128, 128, 128, 0.237);
  border-radius: 5px;
}
.task {
  list-style: none;
  cursor: pointer;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.777);
}
.taskActions {
  background-color: rebeccapurple;
}
.up,
.down {
  font-size: smaller;
}
.del {
  color: rgba(255, 0, 0, 0.493);
  font-size: smaller;
}
.taskActions button:nth-child(1) {
  background-color: #8adab2b0;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.taskActions button:nth-child(1):hover {
  background-color: #8adab2;
}
.taskActions button:nth-child(2) {
  background-color: #31363fb7;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.taskActions button:nth-child(2):hover {
  background-color: #31363f;
}
.taskActions button:nth-child(3) {
  background-color: #00214dac;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.taskActions button:nth-child(3):hover {
  background-color: #00224d;
}
.todoContainer {
  margin: 10px 0;
}
.actionBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2px;
  font-size: smaller;
  cursor: pointer;
  margin: 0px 0px 2px 0px;
}
.actionBtn:hover {
  border: none;
  outline: none;
  background-color: rgba(128, 128, 128, 0.205);
  border-radius: 2px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .taskActions button:nth-child(1) {
    background-color: #8adab2b0;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-small;
  }

  .taskActions button:nth-child(2) {
    background-color: #31363fb7;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: x-small;
  }
  .taskActions button:nth-child(3) {
    background-color: #00214dac;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: x-small;
  }
  .myTodoList {
    text-align: center;
  }
  .todo-changeList input {
    width: 60%;
  }
  .todo-changeList button {
    width: 30%;
  }
  .todo-addTask input {
    width: 60%;
  }
  .todo-addTask button {
    width: 30%;
  }
}
.noTask {
  color: white;
  font-weight: 500;
}
.actionsMenu {
  cursor: pointer;
}
.actionMenuBox {
  z-index: 9999;
  border: 1px solid rgba(128, 128, 128, 0.281);
  background-color: white;
  position: absolute;
  right: 2.6rem;
  font-size: small;
  color: gray;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  padding: 4px 2px;
  width: 8rem;
  border-radius: 5px;
}
.confirmDeleteBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(4px);
}
.confirmDeleteContent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  padding: 4px 4px;
}
.confirmDeleteHeader {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}
.confirmDeleteText {
  margin-top: 3px;
  font-weight: 600;
}
.confirmDeleteActions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.25rem;
}
.cancel {
  color: rgba(255, 0, 0, 0.822);
  background: none;
  border: none;
}
.cancel:hover {
  color: red;
  outline: none;
}
.confirm {
  background-color: #00712dec;
  border-radius: 3px;
  outline: none;
  border: none;
}
.confirm:hover {
  background-color: #00712d;
}
.confirm:focus {
  outline: none;
  border: none;
}
.closeDialog {
  font-size: 1.25rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  transition: color 0.3s ease;
}
.closeDialog:hover {
  color: #e4003a;
}
